@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 10%;
    min-width: 6rem;
    height: 100vh;
    background-color: #DADDE2;
    padding: .5rem;
}

.logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-content h2 {
    padding-top: .5rem;
    padding-bottom: 2rem;
    letter-spacing: 1px;
    font-size: 1.7rem;
}

.logo-btns {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.logo-btns button {
    padding: 0.2rem .8rem;
    font-size: 1.1rem;
    margin-bottom: .7rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    color: #43655A;
    text-align: left;
}

.logo-btns button.bg-color {
    background-color: #B1BDC5;
    color: black;
}

.docs-container {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
    /* padding-right: 0;
    transition: padding-right .7s ease-in-out; */
}

.docs-container.shrink {
    /* padding-right: 23rem;
    transition: padding-right .7s ease-in-out; */
}

.docs-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    transition: background-color .5s ease-in-out;
}

#my-docs-nav.nav-black {
    background-color:#DADDE2;
    transition: background-color .5s ease-in-out;
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    color: #43655A;
    border: none;
    outline: none;
}

.title::placeholder {
    color: #43655A;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.new-doc-btns {
    display: flex;
    margin-right: 1rem;
}

.new-doc-btns button{
    width: 4.5rem;
    border-radius: 5px;
    border: 1px solid #B1BDC5;
    font-weight: 500;
    padding: .1rem 0;
    cursor: pointer;
    margin-left: .7rem;
}

.cancel {
    background-color: transparent;
}

.save {
    background-color: #B1BDC5;
}

.new-doc {
    margin: 0 1rem 1rem 1rem;
}

.new-doc-data {
    width: 100%;
    height: 86vh;
    border-radius: 5px;
    font-size: 1.3rem;
    outline: none;
    padding: 1rem;
}

.new-doc-main {
    display: block;
}

.my-doc-main {
    display: none;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.search .search-bar {
    min-width: 100px;
    border-radius: 5rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.2rem 1rem;
    font-size: .9rem;
    outline: none;
    margin-right: .8rem;
}


.search .search-bar::placeholder {
    color: black;
}

.search .search-btn {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}


.my-docs-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 87vh;
    overflow: auto;
}

.my-docs-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.my-docs-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.my-doc {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 20%;
    width: 295px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin: 1rem ;
    transition: width .7s ease-in-out;
}

.my-doc.shrink {
    width: 280px;
    transition: width .7s ease-in-out;
}

.my-doc-content {
    margin: 1rem ;
    overflow: auto;
}

.my-doc-content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.my-doc-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.my-doc h3 {
    color: #43655A;
    font-size: 1.4rem;
}

.my-doc-data{
    margin-top: .7rem;
    margin-bottom: .5rem;
}



.my-doc-btn {
    margin-top: 2rem;
}

.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    bottom: .3rem;
    right: .7rem;

}

.delete-btn:hover {
    color: rgb(167, 7, 7);
}


.tools-container {
    width: 3.5rem;
}

.tools {
    height: 100vh;
    background-color: #DADDE2;
    transform: translateX(88%);
    position: absolute;
    padding: 0 3.5rem;
    right: 0;
    transition: transform .7s ease-in-out, width .7s ease-in-out;
}


.tools input[type="checkbox"] {
    width: 2rem;
    height: 1.8rem;
    position: absolute;
    left: .5rem;
    top: 1rem;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
}

.tools .open {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 1.8rem;
}

.tools .close {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 1.8rem;
    display: none;

}



.tools-content {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.my-tools-head {
    color: #43655A;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.work-timer {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.start-btn {
    padding: 0 1.3rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    box-shadow: 0px 6px 4px -4px rgb(0, 0, 0, 0.7);    
    cursor: pointer;
    font-weight: 700;
}







.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.music-container h3{
    padding-bottom: 1rem;
}
.music-player {
    background-color:#B1BDC5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1rem;
    min-width: 305px;
    min-height: 120px;
    border-radius: 10px;
    position: relative;
    box-shadow:0px 10px 10px -10px #111;    
}

.img-container {
    width: 6rem;
    height: 6rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.music-player h3 {
    position: absolute;
    right: 1.4rem;
    top: 1rem;
    letter-spacing: 1px;
    text-align: left;
}

.music-buttons {
    display: flex;
    justify-content: space-around;
    width: 8rem;
    margin-top: 1rem;
}

.music-buttons button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}




@media only screen and (max-width:800px) {
    .my-doc {
        width: 250px;
    }
}

@media only screen and (max-width:800px) {
    .my-doc {
        width: 250px;
    }
}


@media only screen and (min-width:700px) {
    .docs-container {
        padding-right: 0;
        transition: padding-right .7s ease-in-out;
    }
    
    .docs-container.shrink {
        padding-right: 23rem;
        transition: padding-right .7s ease-in-out;
    }
}

