@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 12rem;
    height: 100vh;
    background-color: #DADDE2;
}

.logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-content h2 {
    padding-top: .5rem;
    padding-bottom: 2rem;
    letter-spacing: 1px;
}

.logo-btns {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.logo-btns button {
    padding: 0.2rem .6rem;
    font-size: 1rem;
    margin-bottom: .7rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    color: #43655A;
    text-align: left;
}

.logo-btns button.bg-color {
    background-color: #B1BDC5;
    color: black;
}







.docs-container {
    background-color: #fff;
    width: 83%;
    transition: padding-right .7s ease-in-out;
    
}

.docs-container.shrink {
    padding-right: 18rem;
    transition: padding-right .7s ease-in-out;
}

.docs {
    margin: 0 1rem;
}


.docs-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 500px;
    color: #43655A;
    border: none;
    outline: none;
}

.title::placeholder {
    color: #43655ac5;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.new-doc-btns button{
    width: 4.5rem;
    border-radius: 5px;
    border: 1px solid #B1BDC5;
    font-weight: 500;
    padding: .1rem 0;
    cursor: pointer;
    margin-left: .7rem;
}

.cancel {
    background-color: transparent;
}

.save {
    background-color: #B1BDC5;
}


.new-doc-data {
    width: 100%;
    height: 88vh;
    border-radius: 5px;
    font-size: 1.3rem;
    outline: none;
    padding: 1rem;
}














.hamburger-menu {
    height: 100vh;
    background-color: #DADDE2;
    width: 4rem;
    position: relative;
    /* display: none; */
}

.hamburger-menu input {
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    left: 1.2rem;
    top:.5rem;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
}

.hamburger-icon .open{
    position: absolute;
    top: .1rem;
    left: 1.2rem;
    font-size: 2rem;
    z-index: 1;
}

.hamburger-icon .close {
    display: none;
    position: absolute;
    top: .1rem;
    left: 1.2rem;
    font-size: 2rem;
    z-index: 1;
}

.hamburger-menu input[type="checkbox"]:checked ~.tools {
    transform: translateX(0%);
    /* width: 22rem; */
    transition: transform .7s ease-in-out;
}

.hamburger-menu input[type="checkbox"]:checked ~.hamburger-icon .open {
    display: none;
}

.hamburger-menu input[type="checkbox"]:checked~ .hamburger-icon .close {
    display: block;
}







.tools {
    width: 22rem;
    height: 100vh;
    background-color: #DADDE2;
    transform: translateX(95%);
    position: absolute;
    right: 0%;
    top: 0%;
    transition: transform .7s ease-in-out;
}

.tools-content {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.my-tools-head {
    color: #43655A;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.work-timer {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.start-btn {
    padding: 0 1.3rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    box-shadow: 0px 6px 4px -4px rgb(0, 0, 0, 0.7);    
    cursor: pointer;
    font-weight: 700;
}







.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-container h3{
    padding-bottom: 1rem;
}
.music-player {
    background-color:#B1BDC5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1rem;
    min-width: 300px;
    border-radius: 10px;
    position: relative;
    box-shadow:0px 10px 10px -10px #111;    
}

.img-container {
    width: 6rem;
    height: 6rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.music-player h3 {
    position: absolute;
    right: 1.4rem;
    top: 1rem;
    letter-spacing: 1px;
    text-align: left;
}

.music-buttons {
    display: flex;
    justify-content: space-around;
    width: 8rem;
    margin-top: 1rem;
}

.music-buttons button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}